# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# http://localhost:5005/app/auth/logout
# http://localhost:5005/app/auth/check
# http://localhost:5005/app/auth/login
# {
#   "fullName": "John doe4",
#   "email": "johndo4e@example.com",
#   "password": "Secur4eP@ss1232"
# }
#http://localhost:5005/app/auth/signup
# app/auth/update-profile
